---
layout: default

---
<div class="row" style="background-color:#1d1d1d;margin-left:0;margin-right:0;border-bottom:1px dashed #303030;">
    <div class="col-md-12" style="padding-left:0;padding-right:0;">
      <ul class="ds-recent-visitors" data-num-items="18"></ul> 
    </div>
</div>
<div class="row"  style="margin:0;padding-top:0; background-color: #fff;">
	<div id="intro" class="col-md-12 text-center">
        <p>hello,我是cindy. 感谢经常来光顾我博客的朋友，上面是最近的访客。 <a href="about.html" target="_blank">点击这里认识我</a></p>
    </div>

    	<div class="col-md-12 top-title">
			<h2>文章列表</h2> 
		</div>
		<ul class="col-md-12 normal-list">
		{% for post in site.tags.html %}
			<li class="post-{{ post.category }}  row">
			{% if post.external_url == nil %}
			  <p class="col-md-8 cus-sm-li-zheng"><span class="glyphicon glyphicon-fire"></span> <a href="{{ post.url }}">{{ post.title }}</a></p>
			  <p class="col-md-4 cus-sm-li-fu clearfix"><span class="ds-thread-count" data-thread-key="4ff160411318693231000006">0条评论</span>  <span class="hidden-xs">|</span> <abbr>{{ post.date | date_to_string }}</abbr></p>
			 {% else %}
			  <p class="col-md-8 cus-sm-li-zheng"><span class="glyphicon glyphicon-fire"></span><a href="{{ post.external_url }}">{{ post.title }}</a></p>
			  <p  class="col-md-4 cus-sm-li-fu clearfix"><span class="ds-thread-count" data-thread-key="文章在原站点中的id或其他唯一标识"></span> <span class="hidden-xs">|</span> <abbr>{{ post.date | date_to_string }}</abbr></p>
			  {% endif %}
			 </li>
		{% endfor %}
		</ul>
</div>
<div class="content">

</div>
      