<header class="site-header">
      <div class="row text-center" id="mainLogo">
        <div class="col-md-12" ><img id="logo" src="http://icindy.github.io/images/logo.png" alt="node.js"></div>
      </div>
      <div id="nav" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;" id="MainNav">
          <ul >
            <li class="active"><a href="/index.html">文章</a></li>
            <li id="testLi"><a href="/test.html">实验</a></li>
            <li id="projectLi"><a href="/project.html">项目</a></li>
            <li id="lifeLi"><a href="/life.html">生活</a></li>
            <li id="playLi"><a href="/play.html">娱乐</a></li>
            <li id="aboutLi"><a href="/about.html">关于</a></li>
          </ul>
        </div>
      </div>
</header>
