---
layout: default
---
<div class="row" style="background-color:#1d1d1d;margin-left:0;margin-right:0;border-bottom:1px dashed #303030;">
    <div class="col-md-12" style="padding-left:0;padding-right:0;">
      <ul class="ds-recent-visitors" data-num-items="18"></ul> 
    </div>
</div>
<div class="row content cus-post-content">
  <div class="post col-md-12">
    <header class="post-header  text-center" style="border-bottom: 1px dashed #eee;">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
  </div>
</div>

<div class="row cus-post-ex">
  <div class="cus-post-money col-md-6">
      <form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="post" target="_blank">
        <input name="optEmail" type="hidden" value="uestczhangdi@163.com" />
        <input name="payAmount" type="hidden" value="2" />
        <!--这一项可以不留-->
        <input name="title" type="hidden" value="赞助一下:{{ page.title }}" placeholder="付款说明" />
        <input name="pay"  type="image" value="文章不错赞助两元" src="/images/zanzhu.png" />
      </form>
  </div>
  <div class="post-notice col-md-6">
    <div class="post-money-text"><a href="#" style="">点击按钮赞助本文章两元钱</a></div>
  </div> 
  <div class="col-md-12" style="border-top:1px dashed #ccc;text-align:center;">
    <div class="out-d">转载请注明作者和相关链接。如果有什么建议或者问题请在下面留言区域留言。</div>
  </div>
</div>

<script>
  $(".post-money-text a").on('click',function(event) {
    event.preventDefault();
    /* Act on the event */
    $(".cus-post-money form").submit();
  });
</script>

<div class="row cus-post-commit">
  
    
        <!-- 多说评论框 start -->
      <div class="ds-thread" style="background: #fff;padding: 10px;" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{% if site.url %}{{ site.url }}{% endif %}{{ page.url }}"></div>

    {% if page.comments != false %}
      {% include comments.html %}
    {% endif %}
    <!-- 多说评论框 end -->
    <!-- 多说热评文章 start -->
      <!-- <div class="ds-top-threads" data-range="daily" data-num-items="5"></div> -->
    <!-- 多说热评文章 end -->

</div>

